body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  position: fixed;
  text-align: center;
  color: rgb(166, 166, 166);
  background-color: rgb(32, 32, 32);
  left: 0;
  right: 0;
  bottom: 0;
}

.title {
  border: 1px solid white;
  padding: 1vh;
}

#onglets {

  font: bold 2vh 'Trebuchet MS';
  letter-spacing: 0.2vh;
  list-style-type: none;
  padding-bottom: 24px;
  /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */

  margin-left: 0;
  color: #666;
}

#onglets li {
  float: left;
  height: 2vh;
  padding: 1vh;
  /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
  margin: 2vh 2vh 0 2vh !important;
  /* Pour les navigateurs autre que IE */
  margin: 2vh 3vh 0 3vh;
  /* Pour IE  */
  border: 1px solid white;
  color: white;
  transition-duration: 0.5s;

}



#onglets li:hover {
  background-color: white;
  border: 3px solid white;
  color: black;
  border-radius: 20px;
  transition-duration: 0.5s;
  transition-delay: 0.05s;
}

#onglets li:checked {
  border-bottom: 0.1vh solid #fff;
  background-color: #fff;
  transition-duration: 0.5s;
  transition-delay: 0.05s;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  padding-bottom: 2vh;
}

#onglets a {
  display: block;
  color: #666;
  text-decoration: none;
  padding: 1vh;

}

#onglets a:hover {
  background: #fff;
}